.container{
  display: flex;
  justify-content: space-around;
}
.button{
  width: auto;
  position: relative;
  overflow: hidden;
}
.button-text{
  width: 100%;
}
.button-text::before{
  content:'';
  height: 10px;
  width: 100%;
  background-color: lime;
  position: absolute;
  top: 11px;
  left: -100%;
  transition: left 0.2s;
  z-index: -1;
}

.button:hover .button-text::before{
  cursor: pointer;
  left: 0;
}