@font-face{
  font-family: "MaisonNeue";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/MaisonNeueTRIAL-Book.otf") format("opentype")
}

@font-face{
  font-family: "MaisonNeue";
  font-style: italic;
  src: url("../assets/fonts/MaisonNeueTRIAL-BookItalic.otf") format("opentype")
}

@font-face{
  font-family: "MaisonNeue";
  src: url("../assets/fonts/MaisonNeueTRIAL-LightItalic.otf") format("opentype")
}

@font-face{
  font-family: "MaisonNeue";
  font-weight: bold; 
  src: url("../assets/fonts/MaisonNeueTRIAL-Bold.otf") format("opentype")
}

.container{
  display: flex;
  justify-content: space-around;
}
.button{
  width: auto;
  position: relative;
  overflow: hidden;
  padding: 0 3px 0 3px;
}
.button-text{
  width: 100%;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  font-family: "MaisonNeue";
}
.button-text::before{
  content:'';
  height: 10px;
  width: 100%;
  background-color: lime;
  position: absolute;
  top: 13px;
  left: -100%;
  transition: left 0.2s;
  z-index: -1;
}

.button:hover .button-text::before{
  cursor: pointer;
  left: 0;
}