.carousel{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    height: 77.395vw;
    width: 100vw;
    background-color: #100f0f;
    position: relative;
}

$headline-height: 18.02vw;
//HEADLINE***************************************
.carousel-headline{
    @include headline;
    margin-left: 14.6vw;
    height: $headline-height;
    top: initial;
}
.carousel-headline--text{
    @include headline--text;
}
.carousel-headline--dash{
    @include headline--dash;
}
//LOGOS********************************************
.carousel-logos{
    position: relative;
    width: 67.396vw;
    height: 32.24vw;
    margin: $headline-height 14.6vw 0 14.6vw;
    // border: 1px solid white;
    // display: flex;
    justify-content: space-between;
    padding-bottom: 13.75vw;
    overflow: hidden;
}
$logos-wrapper-desktop-height: 18.49vw;
.logos-wrapper{
    // left: -150px;
    height: $logos-wrapper-desktop-height;
    width: 150%;
    position: absolute;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
}
.logos-block{
    display: flex !important;
    width: 100% !important;
    justify-content: space-between;
  }
.carousel-logos--column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    // max-width: 13.44vw;
    position: relative;
    align-items: center;
}
.carousel-logos-image{
    // max-height: 4.79vw;
    max-width: 100%;
    width: auto;
    position: absolute;
}
.carousel-logos-image__top{
    top: 0;
}
.carousel-logos-image__bottom{
    bottom: 0;
}
.logos-wrapper .slick-dots{
    top: 18.49vw;
    height: 13.75vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//PHOTOS
.carousel-photos{
    height: 25.3125vw;
    display: flex;
}
.carousel-photos-image{
 height: 100%;
 margin-right: 0.78vw;
}

//Mobile*******************************************************************************************

@media screen and (max-width: 768px){
    $logos-wrapper-mobile-height: 55.3vw;
    .carousel{
        height: 226.5625vw;
    }
    $carousel-mobile-headline-height: 65.62vw;
    .carousel-headline{
        height: $carousel-mobile-headline-height;
    }
    .carousel-headline--text{
        @include headline-mobile;
        position: absolute;
        bottom: 0;
        margin-bottom: 25.63vw;
    }
    .carousel-logos{
        width: 50vw;
        height: 105.93vw;
        margin: $carousel-mobile-headline-height 25vw 0 25vw;
        // border: 1px solid white;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50.93vw;
        position: relative;
        .slick-dotted.slick-slider{
            margin-bottom: 0;
        }
        // overflow: initial;
    }
    .logos-wrapper{
        height: $logos-wrapper-mobile-height;
        width: 600%;
        .slick-dots{
            top: calc(150% - 20px);
            height: initial;
            padding-top: 15px;
            padding-bottom: 20px;
            overflow-x: auto;
            justify-content: flex-start;
            width: 100%;
            li{
                margin-right: 2.6vw;
            }
        }
    }
    .carousel-logos--column{
        max-width: none;
        // border: 1px solid yellow;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carousel-logos-image{
        max-height: 19.69vw;
        // max-width: 100%;
        // width: auto;
        // position: absolute;
    }
    .carousel-slider--bullet__mobile{
        display: initial;
    }
    .carousel-slider--bullet{
        height: 13px;
        width: 13px;
        margin: 0 8px 0 0;
        display: initial;
    }
    .carousel-slider{
        height: 50.93vw;
        top: $logos-wrapper-mobile-height;
        div:last-child{
            margin:0;
        }
    }
    .carousel-photos{
        height: 50vw;
    }

}