.grid{
    width: 100vw;
    // height: 108.8vh;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
}
.gallery{
    // height: 88.5vh;
    // display: flex;
    width: 100%;
    height: 50vw;
}

.grid-small-folio-wrapper, .grid-folio-large{
    height: 100%;
    width:50.05%;
    position: absolute;
}
.grid-small-folio-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    // position: relative;
    // left: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}


.grid-folio{
// height: 50%;
position: relative;
width: 50%;
height: 50%;
// position: absolute;
// object-fit: cover;
// object-position: left;
}


// .grid-folio--gradient
.grid-folio--photo{
    width: 100%;
    position: absolute;
    height: 100%;
}
// .grid-folio--photo__large{
//     width: 100%;
//     height: 100%;
// }

.grid-folio--info{
    position: absolute;
    bottom: 0;
    padding: 0 4.17vw 4.26vh 2.29vw
}
.grid-folio--info__headline{
    font-family: "MaisonNeue-Bold";
    color: #ffffff;
    font-size: 1.5vw;
}
.grid-folio--info__subheadline{
    font-family: "MaisonNeue-BookItalic";
    color: #ffffff;
    font-size: 1.4vw;
}

