//WRAPPERS
.grid{
    width: 100vw;
    // height: 108.8vh;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    // position: relative;
}
.gallery{
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: hidden;
}

.grid-folio-main{
    height: 100%;
    width:50%;
    position: absolute;
}
.grid-small-folio-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width:25%;
    // display: flex;
    // flex-wrap: wrap;
}

.grid-small-folio-wrapper--column__1{
    right: 25%;
}
.grid-extra{
    z-index: 2;
    // transform: rotateX(180deg);
    right: -50%;
}

//FOLIO set-up (photo, gradient, hover state, info box)
.grid-folio{
cursor: pointer;
position: relative;
width: 100%;
height: 50%;
overflow: hidden;
z-index: 1;
background-color: lime;
}
.grid-folio__large{
    width: 50%;
    height: 100%;
}

.grid-folio::before{
    content:'';
    height: 100%;
    width: 100%;
    background-color: #00d830;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.2s;
    z-index: 1;
    opacity: 0.7;
    // mix-blend-mode: multiply;
}
.grid-folio:hover::before{
    left: 0;
}
// .grid-folio-hover::before{
//     content:'';
//     height: 100%;
//     width: 100%;
//     background-color: #00d830;
//     position: absolute;
//     top: 0;
//     left: -100%;
//     transition: all 0.2s;
//     z-index: 1;
//     opacity: 0.7;
//     // mix-blend-mode: multiply;
// }
// .grid-folio:hover::before{
//     left: 0;
// }

@mixin absolute{
    position: absolute;
    width: 100%;
    height: 100%;
}
.grid-folio--gradient{
    background: linear-gradient(360deg, rgba(0,0,0,0.8928370100728582) 5%, rgba(0,0,0,0) 69%);
    opacity: 0.65;
    @include absolute;
}
.grid-folio--photo{
    @include absolute;
}

.grid--cta-wrapper{
    display: flex;
    justify-content: center;
    // align-content: center;
    height: 19.3vh;
}

.grid--cta{
    @include cta;
    // position: relative;
    color: #949494;
    border-color: #949494;
    margin: 0 auto;
    align-self: center;
    transition: color 0.3s, background-color 0.3s;
    
  }
.grid--cta::before{
    @include cta-before;
}
.grid--cta:hover::before{
    left: 0;
}
.grid--cta:hover{
    color: #ffffff;
    // border-color: #ffffff;
}

  .grid-folio--info{
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    padding: 0 4.17vw 4.26vh 2.29vw;
    z-index: 2;
    a{
    text-decoration: none;
    }
}
// .grid-folio--info:hover + .hover-area{
//     opacity: 0.7;
// }

.grid-folio--info__headline{
    font-family: "MaisonNeue-Bold", "sans-serif";
    color: #ffffff;
    font-size: 1.5vw;
    span{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}
.grid-folio--info__subheadline{
    font-family: "MaisonNeue-BookItalic";
    color: #ffffff;
    font-size: 1.3vw;
}

//MEDIA QUERY 

@media screen and (max-width: 468px){
    .gallery{
        height: 300vw;
        overflow: hidden;
        transition: height 0.6s;
    }
    .grid-small-folio-wrapper, .grid-folio-main{
        height: 100vw;
        width:100%;
        transition: all 0.2s;
        // position: absolute;
    }
    .grid-small-folio-wrapper{
        height: 200vw;
        top: 100vw;
    }
    .grid-small-folio-wrapper--column__1{
        right: 0;
    }
    .grid-small-folio-wrapper--column__2{
        right: 0;
        top: 300vw;
    }
    .grid-folio{
        width: 100%;
        height: 100vw;
    }
    .grid-folio--info{
        padding-left: 4vw;
    }
    .grid-folio--info__headline{
        font-size: 5vw;
    }

    .grid-folio--info__subheadline{
        font-size: 3vw;
    }
    #grid-extra__2{
        right: initial;
        top: 500vw;
    }
    #grid-extra__1{
        right: initial !important;
        top: 700vw;
    }
}

