header{
    // height: 100vh;
    @include middle-column;
    @include flex-column-center;
    // grid-column-start:2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: start;

    // position: relative;
    // position: relative;
}

//text-box

.text-box{
    // grid-column-start: 2;
    // grid-row-start: 3;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
    // align-items: start;
    // max-height: 430px;
}

.text-box--headline{
  font-family: "MaisonNeue-Bold";
  font-weight: 200;
  font-size: 3vw;
  // line-height: 76.5px;
  max-width: 31.5vw;
  // line-height: 6.7vh;
  br{
    display: none;
  }
}

.text-box--subheadline{
  font-family: "MaisonNeue-LightItalic";
  font-size: 1.55em;
  margin: 1.8em 0 1.4em 4px;
  margin-left: 10px;
  white-space: nowrap;
  p{
    font: inherit;
  }
  span{
    font-style: italic;
  }
}

.header--cta{
  @include cta;
  // position: relative;
  // overflow: hidden;
}

.header--cta::before{
  @include cta-before;
}

.header--cta:hover::before{
  left: 0;
}

//Key Visual

// @mixin full-stretch{
//   grid-column-start: 1;
//   grid-column-end: 3;
//   grid-row-start: 2;
//   grid-row-end: 5; 
// }

.kv{
    // @include full-stretch;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 70px);
}

@mixin kv-content{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.kv--gradient{
  @include kv-content;
  background: linear-gradient(90deg, rgba(0,0,0,0.8928370100728582) 8%, rgba(0,0,0,0) 53%);
  opacity: 0.6;
}

.kv--pattern{
    @include kv-content;
    background:rgba(0,0,0,0.4) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=");
    z-index: -1;
  }

.kv--image{
    @include kv-content;
    object-fit: cover;
    z-index: -2;
}

//mouse-icon
  .mouse-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    position: absolute; 
    // margin-left: -17px;
    left: 50%;
    top: 83.6vh; 
    cursor: pointer; 
    height: 7.4vh;
    width: 1.875vw;

    animation: mouse 4s ease-in 2s infinite;
  }

  .mouse-icon--mouse{
    height: 65%;
  }

  .mouse-icon--caret {
      width: 1.04vw;
  }

  @keyframes mouse {
    12%{
      transform: translateY(7px);
    }
    20%{
      transform: translateY(0);
    }

}

//   @keyframes caret {
//     0% {bottom: 0px}
//     10% {margin-top: 10px}
//     20% {margin-top: 0px}
// }

  //MEDIA QUERIES
  //tablet

  @media screen and (max-width: 1080px)
  // ,screen and (max-height: 768px)
  {
      .text-box--headline{
        font-size: 2em;
        max-width: 400px;;
    }
    .text-box--subheadline{
        font-size: 1em;
    }
    .mouse-icon{
        display:none;
    }
    .header--cta{
      padding: 15px 26px;
    }
  }

  // @media screen and (max-height: 768px){
  //   .mouse-icon{
  //     display: none;
  //   }
  // }
  @media screen and (max-width: 768px)
  ,screen and (max-height: 768px)
  {
    // .text-box--headline{
    //     font-size: 2em;
    // }
    // .text-box--subheadline{
    //     font-size: 1em;
    // }
    // .mouse-icon{
    //     display:none;
    // }
    // .header--cta{
    //   padding: 15px 26px;
    // }
    .kv{
      height: calc(100vh - 60px);
      top: 60px;
    }
  }
  // @media screen and (max-height: 768px){
  //   .text-box--headline{
  //       font-size: 2em;
  //   }
  //   .text-box--subheadline{
  //       font-size: 1em;
  //   }
  //   .mouse-icon{
  //       display:none;
  //   }
  //   .header--cta{
  //     padding: 15px 26px;
  //   }
  //   .kv{
  //     height: calc(100vh - 60px);
  //     top: 60px;
  //   }
  // }

//phone
  @media screen and (max-width: 480px) {
    .text-box{
      font-size: 14px;
      // max-width: 330px;
      br{
        display: block;
      }
    }
    .text-box--headline{
      max-width: none;
    }
    .header--cta{
      padding: 0.8em 1.2em;
    }
  }

//horizontal mobile
  @media screen and (max-height: 468px){
    body{
      font-size: 12px;
    }
    .mouse-icon{
      display: none;
    }
    .text-box, .text-box--headline{
      max-width: none;
    }
    .menu--list{
      height: 70%;
      // margin-top: 30px;
    }
    // .kv{
    //   top: 60px;
    //   height: calc(100vh - 60px)
    // }
    // .kv{
    //   height: calc(100vh - 60px);
    //   top: 60px;
    // }
  }