
nav{

  // grid-column-start: 2;
  // grid-column-end: 4;
  @include middle-column;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;
  // z-index: 2;
  display: grid;
  grid-template-columns: [logo]min-content [gutter]minmax(50px, 29.42vw) [links]auto 1fr;
  // grid-template-columns: [margin-right]minmax(42px, 285px) [logo]min-content [gutter]minmax(50px, 1fr) [links]auto [margin-left]minmax(42px, 285px);
  align-items: center;
  justify-content: center;
}

.drawer{
  grid-column-start: 1;
  width: 100vw;
  @include drop-shadow;
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
}

nav, .drawer{
  height: 70px;
  background-color: #ffffff;
}

.logo{
  z-index: 2;
  grid-column-start: 1;
  width: 110px;
  img{
    width: 100%;
  }
}

//LINKS

.menu-links-container{
  grid-column-start: 3;
  grid-column-end: 4;
  width: 460px;
}
.menu--list{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  max-width: 460px;
}

.button{
  overflow: hidden;
  padding: 0 3px 0 3px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.button-text{
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  font-family: "MaisonNeue-Book";
  text-decoration: none;
}

 .button-text::before{
   content:'';
   height: 10px;
   width: 100%;
   background-color: lime;
   position: absolute;
   top: 10px;
   left: -100%;
   transition: all 0.2s;
   z-index: -1;
 }
 .button:hover .button-text::before{
  left: 0;
}

//HAMBURGAR
@import "hamburger";
.hamburger{
grid-column-end: 4;
display: none;
z-index: 2;
}


//MEDIA QUERIES

//tablet 
@media screen and (max-width: 768px) {
  .mouse-icon{
    display:none;
  }

  .hamburger{
    display: block;
  }

  .menu-links-container{
    @include drop-shadow;
    display: none;
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 5;
    position: absolute;
    top: -110%;
    left: 0;
    padding-top: 70px;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: top 0.6s;
  }
  
  .menu-links-container__display-on{
    display: block;
    top: 0;
  }

  .menu--list{
    flex-direction: column;
    align-items: center;
    height: 42%;
    // margin-top: 115px;************
  }
}

@mixin mobile-nav-height{
      nav, .drawer{
        height: 60px;
   }
  //****************************************
  //   .menu-links-container{
  //       padding-top: 60px;
  //  }
    .logo{
        width: 56px;
   }
   .kv{
     top: 60px;
   }
 }

//phone (widest common phone models)
@media screen and (max-width: 768px), 
screen and (max-height: 786px)
{
  @include mobile-nav-height;
  nav{grid-template-columns: [logo]min-content [gutter]1fr [links]auto;}
}
// @media screen and (max-width: 480px), 
// screen and (max-height: 480px)
// {
//   @include mobile-nav-height;
//   .wrapper{grid-template-rows: min-content calc(100vh - 60px) 87vh auto;};
//   grid-template-columns: [logo]min-content [gutter]1fr [links]auto;
// }
