.testimonials{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    position: relative;
    height: 41.66vw;
    // border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-header
// , .testimonials-name
, .testimonials-company
{
    text-transform: uppercase;
    font-family: "MaisonNeue-Bold";
}

//HEADER
.testimonials-header{
    position: absolute;
    // top: 0;
    left: 0;
    top: 3.29vw;
    display:flex;
    align-items: center;
}
.testimonials-header--text{
    color: #9d9d9d;
    font-size: 16px;
}
.testimonials-header--dash{
    background-color: #9d9d9d;
    height: 2px;
    width: 27px;
    margin: auto 0;
    margin-right: 32px;
}
.testimonials-content{
    height: 22.66vw;
    width: 49.0625vw;
    // border: 1px solid;
    position: relative;

}
//**************************************

.testimonials-content--name-box{
    margin-left: 7.18vw;
    margin-bottom: 17px;
    position: absolute;
    // bottom: 100%;
    width: 12.5vw;
    height: 9.79vw;
    // border: 1px solid white;
    white-space: nowrap;
}
    .testimonials-decoration{
        height: 100%;
        widows: 100%;
        position: absolute;
        // left: 7.5vw;
        z-index: -1;
    }
    .testimonials-content--name-box-client-detail{
        margin-left: 10vw;
        margin-top: 7vw;
        
    }
    .testimonials-name{
        font-size: 1.6vw;
        line-height: 3vw;
        font-family: "MaisonNeue-Bold";
    }
    .testimonials-company{
        color: #9fa3a7;
        margin-left: 5px;
        font-size: 0.85vw;
        letter-spacing: 2px;
    }

//avatar, comment, carets
.testimonials-comment{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    // border: 1px solid red;
}
    .testimonials-avatar{
        flex: 1;
        width: 10.73vw;
        margin-right:6.45vw;
            img{
            height: 10.73vw;
            width: auto;
        }
    }
    .testimonials-coment-text{
        // width: 31.61vw;
        font-family: "MaisonNeue-LightItalic";
        font-size: 1.25vw;
    }

.testimonials-caret{
    position: absolute;
    height: 1.82vw;
    // width: 20px;
    top: calc(50% - 0.91vw);
    img{
        height: 100%;
        width: 100%;
    }
}
.testimonials-caret-previous{
left: -17.86vw;
}
.testimonials-caret-next{
right: -10.42vw;
}
.testimonials-slider{
    display: flex;
    display: none;
}
.testimonials-slider--circle{
    @include slider-circle;
    margin: 0 4px;
    cursor: pointer;
}
.testimonials-slider--circle:hover{
    background-color: #acacac;
}

@media screen and (max-width: 768px){
    .testimonials{
        grid-column-start: 1;
        grid-column-end: 4;
        height: 648px;
        // border: 1px solid;
        min-width: 240px;
        margin: 0 auto;
    }
    .testimonials-header{
        height: 130px;
        top: 0;
        // border: 1px solid blue;
    }
    .testimonials-header--dash{
        width: 20px;
        margin-right: 20px;
    }
    .testimonials-header--text{
        font-size: 12px;
    }
    .testimonials-content{
        width: 100%;
        top: 130px;
        position: absolute;
    }
    .testimonials-content--name-box{
        margin-left: 0;
        width: 185px;
        height: 143px;
    }
        .testimonials-content--name-box-client-detail{
            margin-left: 120px;
            margin-top: 112px;
        }
        .testimonials-name{
            font-size: 20px;
            line-height: initial;
            margin-bottom: 5px;
        }
        .testimonials-company{
            font-size: 9px;
        }

        
    .testimonials-comment{
        bottom: initial;
        top: 123px;
        display: initial;
    }
        .testimonials-avatar{
            width: 96px;
            height: 96px;;
            margin-left: 10px;
            margin-bottom: 22px;
            img{
                height: 100%;
            }
        }
        .testimonials-coment-text{
            font-size: 14px;
        }
        .testimonials-decoration{
        }

    .testimonials-caret{
        display: none;
    }
    .testimonials-slider{
        display: flex;
        bottom: 77px;
        position: absolute;
    }

    .testimonials{
        grid-column-start: 2;
        grid-column-end: 3;
        margin: initial;
        height: calc(114.6875vw + 130px + 13px + 130px);
    }
    .testimonials-decoration	{width: 57.5vw; height: 45vw}
.testimonials-avatar	{width: 30vw; height: 30vw; margin-left: 3.125vw;  margin-bottom: 6.875vw}
.testimonials-comment	{top: 38.738vw}
.testimonials-content--name-box-client-detail{
    margin-left: 37.5vw;
    margin-top: 35vw;
    }
    .testimonials-slider{
        position: initial;
        bottom: 24.01vw;
        margin-left: calc(50% - 28px);
        margin-top: 60px;
    }
    .testimonials-name{
        font-size: 7vw;
    }
    .testimonials-company{
        font-size: 3.3vw;
    }
    .testimonials-coment-text{
        font-size: 4.9vw;
    }
}
