.txt{
    grid-row-start: 3;
    grid-row-end: 4;
    height: 48.96vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: space-between;
    align-items: center;
    // grid-column-start: 2;
    // grid-column-end: 3;
    @include middle-column;
}

.txt-headline{
    font-family: "MaisonNeue-Bold";
    font-size: 4vw;
    max-width: 40%;
}
.txt-subheadline{
    font-family: "MaisonNeue-LightItalic";
    color: #8e8e8e;
    font-size: 1.7vw;
    max-width: 28.65vw;
}
@media screen and (max-width: 768px){
    .txt{
        padding: 12.8vw 0 9.5vw 0;
        height: 169vw;
    }
    .txt-headline{
        font-family: "MaisonNeue-Bold";
        font-size: 12vw;
        line-height: 86px;
    }
    .txt-subheadline{
        font-family: "MaisonNeue-LightItalic";
        color: #8e8e8e;
        font-size: 4.6vw;
        line-height: 51px;
    }
    .txt-headline, .txt-subheadline{
        max-width: none;
    }
}

@media screen and (max-width: 468px){
    .txt{
        height: 169vw;
        padding: 34.8vw 0 32.5vw 0;
        flex-direction: column;
        max-height: 169vw;
        // flex-direction: column;
    }
    .txt-headline{
        font-family: "MaisonNeue-Bold";
        font-size: 12vw;
        line-height: initial;
    }
    .txt-subheadline{
        font-family: "MaisonNeue-LightItalic";
        color: #8e8e8e;
        font-size: 4.6vw;
        line-height: 24px;
    }
    .txt-headline, .txt-subheadline{
        max-width: none;
    }
}