.txt{
    grid-row-start: 3;
    grid-row-end: 4;
    height: 87vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: space-between;
    align-items: center;
    // grid-column-start: 2;
    // grid-column-end: 3;
    @include middle-column;
}

.txt-headline{
    font-family: "MaisonNeue-Bold";
    font-size: 4vw;
    max-width: 40%;
}
.txt-subheadline{
    font-family: "MaisonNeue-LightItalic";
    color: #8e8e8e;
    font-size: 1.5vw;
    max-width: 40%;
}

@media screen and (max-width: 468px){
    .txt{
        padding: 17.1vh 0 17.7vh 0;
        flex-direction: column;
    }
    .txt-headline{
        font-family: "MaisonNeue-Bold";
        font-size: 12vw;
        line-height: 7.4vh;
    }
    .txt-subheadline{
        font-family: "MaisonNeue-LightItalic";
        color: #8e8e8e;
        font-size: 4.6vw;
        line-height: 4vh;
    }
    .txt-headline, .txt-subheadline{
        max-width: none;
    }
}